rsource './ccmu/Kconfig'
rsource './gpio/Kconfig'
rsource './dma/Kconfig'
rsource './spi/Kconfig'
rsource './uart/Kconfig'
rsource './nand_flash/Kconfig'
rsource './rtc/Kconfig'
rsource './disp2/Kconfig'
rsource './g2d_rcq/Kconfig'
rsource './pwm/Kconfig'
rsource './sdmmc/Kconfig'
rsource './timer/Kconfig'
rsource './gpadc/Kconfig'
rsource './lradc/Kconfig'
rsource './tpadc/Kconfig'
rsource './msgbox/Kconfig'
rsource './efuse/Kconfig'
rsource './sound/Kconfig'
rsource './twi/Kconfig'
rsource './input/Kconfig'
rsource './usb/Kconfig'
rsource './sensor/Kconfig'
rsource './ce/Kconfig'
rsource './hwspinlock/Kconfig'
rsource './ledc/Kconfig'
rsource './cir_rx/Kconfig'
rsource './cir_tx/Kconfig'
