rsource './audio/Kconfig'
rsource './rpmsg_test/Kconfig'
rsource './rpmsg_memblk/Kconfig'
rsource './ring_buffer/Kconfig'
rsource './alg_cfg_test/Kconfig'
rsource './aw_eq/Kconfig'
rsource './secure_storage/Kconfig'
rsource './bluetooth/Kconfig'
rsource './weather_service/Kconfig'
